*{
    box-sizing: border-box;
}
body{
    margin: 10px;
}

#app{
    width: 1200px;
}

#paper{
    float: left;
}

#legend{
    width: 400px;
    float: left;
}

#log{
    width: 400px;
    margin-left: 100px;
    float: left;
}
#log .row{
    background-color: #bdbdbd;
    overflow: hidden;
    width: 100%;
    margin: 5px;
    float: left;
    padding: 7px;
}

#log .row .time{
background-color: #29b6f6;
}

#log .row .truck{
background-color: #29b6f6;
}

#log .row .push{
background-color: #ab47bc;
}

#log .row .pull{
background-color: #ffa726;
}

#log .row .swap{
background-color: #26a69a;
}

#log .row span{
    padding: 5px;
    margin: 2px;
}

span.timeslot-old{
    background-color: #ef5350;
}

span.timeslot-new{
    background-color: #66bb6a;
}

#kpis{
    width: 400px;
    float: left;
    margin-left: 50px;
}


#timer{
    width: 100%;
    float: left;
    height: 20px;
}

#truck-info .truck{
    height: 50px;
    width: 300px;
    float: left;
    padding: 3px;
    font-family: monospace;
    margin-bottom: 1px solid black;
}

#truck-info .truck p{
    margin: 0;
}

#truck-info .truck.hovered{
    border: 1px solid blue;
}

#truck-info .late{
    color: red;
}
#truck-info{
    width: 100%;

}

#truck-info span{
    width: 100%;
    float: left;
    display: block;
}