*{
    box-sizing: border-box;
}

#app{
    width: 1200px;
}

#paper{
    float: left;
}

#legend{
    width: 400px;
    float: left;
}

#log{
    width: 700px;
    margin-left: 100px;
    float: left;
}
#log p{
    width: 100%;
    float: left;
    margin: 0;
    padding: 2px;
}


#timer{
    width: 100%;
    float: left;
    height: 20px;
}

.truck{
    height: 50px;
    width: 300px;
    float: left;
    padding: 3px;
    font-family: monospace;
    margin-bottom: 1px solid black;
}

.truck p{
    margin: 0;
}

.truck.hovered{
    border: 1px solid blue;
}

.late{
    color: red;
}
#truck-info{
    width: 100%;

}

#truck-info span{
    width: 100%;
    float: left;
    display: block;
}